
.pagina-varestado{

    .cont {
        display: flex;
        align-items: center;
        gap: 20px;

        font: 600 28px 'Roboto';
    }

    .voltar{
        font-size: 32px;
    }

    .cabecalho{
        display: flex;
        align-items: center;
        gap: 20px;
    }
}